/*-------- 21. Compare style ---------*/

.compare-table {
  &::-webkit-scrollbar {
    width: 24px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #f8f8f8;
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: #F98C2F;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #DC5126;
  }

    & .table {
        & tbody {
            & tr {
                & th {
                    &.first-column {
                        min-width: 292px;
                        font-family: $Geometria;
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: $Normal;
                        color: #262626;
                        margin: 0;
                        background-color: #e9e9e9;
                        padding: 15px 10px 15px 20px;
                        border: none;
                        text-transform: uppercase;
                        border-bottom: solid 2px #ffffff;
                        @media #{$md-layout} {
                            min-width: 200px;
                        }
                        @media #{$xs-layout} {
                            min-width: 150px;
                            padding: 10px 20px;
                        }
                    }
                }
                &:first-child th {
                    font-family: $Geometria-Bold;
                    padding-top: 53px;
                }
                &:last-child th {
                    padding-bottom: 115px;
                }
                & td {
                    text-align: center;
                    padding: 17px 15px;
                    vertical-align: middle;
                    border-color: #e7e7e7;
                    .btn {
                      padding: 15px 37px;
                      &:hover {
                        color: #ffffff;
                      }
                    }
                    &.product-image-title {
                        min-width: 293px;
                        vertical-align: bottom;
                        padding: 27px 10px 35px;
                        position: relative;
                        @media #{$xs-layout} {
                            min-width: 220px;
                        }
                        .compare-remove {
                          width: 40px;
                          height: 40px;
                          position: absolute;
                          top: 10px;
                          right: 10px;
                          opacity: 0.7;

                            a {
                                font-size: 30px;
                                &:hover {
                                    color: $theme-color;
                                }
                            }
                        }
                        & .image {
                            clear: both;
                            width: 100%;
                            max-width: 70px;
                            margin: 0 auto 15px auto;
                            display: block;
                            img {
                                width: auto;
                            }
                        }
                        & .category {
                            float: left;
                            clear: both;
                            color: $theme-color;
                            text-transform: capitalize;
                            letter-spacing: 0.5px;
                        }
                        & .pro-title {
                            display: block;
                            overflow: hidden;
                            > a {
                                float: left;
                                clear: both;
                                font-family: $Geometria-Bold;
                                font-size: 14px;
                                line-height: 18px;
                                text-transform: uppercase;
                                display: block;
                                width: 100%;
                                &:hover {
                                    color: $theme-color;
                                }
                            }
                        }
                        .compare-btn {
                            margin: 14px 0 0;
                            a {
                                background-color: #343538;
                                padding: 10px 20px;
                                color: #fff;
                                display: inline-block;
                                &:hover {
                                    background-color: $theme-color;
                                }
                            }
                        }
                    }
                    &.pro-price {
                        font-family: $Geometria;
                        font-size: 16px;
                        color: #000000;
                    }
                    &.pro-sku , &.pro-stock , &.pro-weight, &.pro-desc {
                      font-family: $Geometria;
                      font-size: 16px;
                      color: #000000;
                    }
                    &.pro-dimensions {
                      font-family: $Geometria;
                      font-size: 16px;
                      color: #000000;
                    }
                    &.pre-order {
                      span {
                        display: flex;
                        gap: 0 5px;
                        align-items: center;
                        font-family: Geometria,arial,sans-serif;
                        font-size: 16px;
                        line-height: 25px;
                        color: #be0e0e;
                        justify-content: center;
                        position: relative;
                        margin: 0 auto;
                        max-width: 120px;

                        &::before {
                          width: 13px;
                          height: 20px;
                          position: absolute;
                          content: "";
                          top: 4px;
                          left: 0;
                          background-image: url("../img/svg/icon-pen.svg");
                          background-repeat: no-repeat;
                        }
                      }
                    }
                  &.in-stock {
                    position: relative;

                    span {
                      display: flex;
                      gap: 0 5px;
                      align-items: center;
                      font-family: Geometria,arial,sans-serif;
                      font-size: 16px;
                      line-height: 25px;
                      justify-content: center;
                      position: relative;
                      margin: 0 auto;
                      max-width: 120px;
                      color: #06714a;

                      &::before {
                        width: 13px;
                        height: 15px;
                        position: absolute;
                        content: "";
                        top: 5px;
                        left: 0;
                        background-image: url("../img/svg/icon-check.svg");
                        background-repeat: no-repeat;
                      }
                    }
                  }
                }
            }
        }
    }
}
/*------ end Compare Page Wrapper -----*/
