/*-------- 16. Contact page ----------*/


#map-height {
  height: 290px;
}

.contact-area {
  border-top: 1px solid #8A8A8A;
  position: relative;

  .contact-page-map {
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 2;
    left: 0;
    @media #{$md-layout} {
      position: inherit;
      width: 100%;
    }
    @media #{$xs-layout} {
      position: inherit;
      width: 100%;
    }
  }
}

#contact-2 {
  height: 100%;
  @media #{$md-layout} {
    height: 400px;
  }
  @media #{$xs-layout} {
    height: 300px;
  }
}

.contact-info-area {
  padding: 55px 150px 62px 60px;
  @media(max-width: 1440px) {
    padding: 55px 110px 62px 60px;
  }
  @media #{$xl-layout} {
    padding: 50px 40px 62px 50px;
  }
  @media #{$lg-layout} {
    padding: 50px 30px 30px 30px;
  }
  @media #{$md-layout} {
    padding: 50px 30px 50px 30px;
  }
  @media #{$xs-layout} {
    padding: 50px 15px 20px 15px;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    @media #{$xs-layout} {
      font-size: 20px;
    }
  }

  p {
    font-family: $Geometria;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #343538;
  }

  .contact-from-2 {
    margin: 30px 0 0 0;
    max-width: 600px;

    @media(max-width: 991px) {
      margin: 30px auto 0 auto;
    }

    form {
      input, textarea {
        border: 1px solid #E0E0E0;
        height: 50px;
        font-family: $Geometria;
        font-size: 16px;
        line-height: 25px;
        padding: 2px 15px;
        color: #8a8a8a;
        margin-bottom: 20px;
        background: #FBFBFB;
        resize: none;

        &::placeholder {
          color: #343538;
          opacity: 0.5;
        }

        &:focus {
          border: 1px solid #343538;
        }
      }

      textarea {
        padding-top: 10px;
      }

      & button.submit {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        height: auto;
        padding: 17px 10px 16px;
        width: 100%;
        border: none;

        &:hover {
          background-color: $theme-color;
        }
      }

      textarea {
        height: 130px;
      }

      input:-webkit-autofill,
      input:-webkit-autofill,
      textarea:-webkit-autofill,
      select:-webkit-autofill, {
        border: 1px solid #E0E0E0;
        font-family: $Geometria;
        font-size: 16px;
        line-height: 25px;
        -webkit-text-fill-color: #8a8a8a;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }

  .contact-info-bottom {
    .contacts__pr {
      padding-right: 0;
      @media(max-width: 1199px) {
        padding-left: 0;
      }
      @media(max-width: 991px) {
        padding-left: 15px;
      }

    }

    .contacts__pl {
      padding-left: 0;
      @media(max-width: 530px){
        padding-left: 15px;
      }
    }

    .single-contact-info {
      i {
        font-size: 30px;
        color: #343538;
      }

      p {
        text-transform: uppercase;
        font-size: 12px;
        margin: 6px 0 10px;
        color: #343538;
      }
    }
  }
}


.ymap-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/* Блок, в котором появится Яндекс.Карта */
#map-yandex {
  position: relative;
  z-index: 7;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
}

.loader {
  position: absolute;
  z-index: 15;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000000;
  transition: opacity .7s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, .55);
}

.loader:after,
.loader:before {
  box-sizing: border-box;
}

.loader.is-active {
  top: 0;
  opacity: 1;
}

.loader-default:after {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  content: '';
  animation: rotation 1s linear infinite;
  border: solid 8px #ffffff;
  border-left-color: transparent;
  border-radius: 50%;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}


.contacts__mail {
  a {
    display: flex;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      @media(max-width: 1199px) {
        width: 27px;
      }
    }
  }
}

.contacts__address {
  a {
    display: flex;
    align-items: center;
  }

  img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    @media(max-width: 1199px) {
      width: 27px;
    }
  }
}

.contacts__requisites {
  padding-top: 30px;
  max-width: 640px;
  @media(max-width: 991px) {
  max-width: unset;
  }

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #343538;
  }
}
.contacts__wrap-desc{
  flex-wrap:nowrap;
  @media(max-width: 530px){
    flex-wrap: wrap;
  }
}
