/*-------- 13. Product details style ---------*/

.product-details-content {
  @include mobile-width {
    padding: 0 15px;
    width: 100%;
  }

  h2 {
    margin-bottom: 15px;
    font-family: $Geometria-Bold;
    font-size: 20px;
    line-height: 25px;
    color: $black;
    text-transform: uppercase;

    @include tablet-width {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 18px;
    }
  }

  .product-order {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    @include desktop-width {
      margin-bottom: 5px;
    }

    span {
      display: flex;
      gap: 0 5px;
      align-items: center;
      font-family: $Geometria;
      font-size: 16px;
      line-height: 25px;
      color: #BE0E0E;

      @include tablet-width {
        font-size: 14px;
        line-height: 18px;
      }
    }

    a {
      display: flex;
      gap: 0 5px;
      align-items: center;

      span {
        color: $Gray-rgba;
      }
    }

    img {
      max-width: 13px;
    }

    &--2 {
      max-width: 300px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .product-info {
    margin-bottom: 45px;
    background-color: #F8F8F8;
    padding: 10px 15px 10px 15px;

    @include desktop-width {
      margin-bottom: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    td {
      padding: 10px 0;
      font-family: $Geometria;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: $black;
      border-bottom: solid 1px rgba(52, 53, 56, 0.2);

      @include tablet-width {
        padding: 8px 0;
      }

      @include mobile-width {
        font-size: 12px;
      }

      &:last-child {
        text-transform: none;
      }
    }
  }

  .product-order {
    .link-order {
      min-width: 200px;
      justify-content: center;

      &:hover {
        color: $white;
      }
    }
  }

  .product-price--2 {
    margin-bottom: 45px;

    @include desktop-width {
      margin-bottom: 17px;
    }

    @include tablet-width {
      margin-bottom: 15px;
    }

    span:first-child {
      font-family: $Geometria-Bold;
      font-size: 20px;
      line-height: 25px;
      color: rgba(206, 0, 0, 0.8);

      @include tablet-width {
        font-size: 18px;
        line-height: 20px;
      }

      &::before {
        display: none;
      }
    }
  }
}

.product-info-1 {
  .product-details-content {
    padding: 0;
  }
}

.modal-order {
  .row {
    flex-wrap: nowrap;

    @include mobile-width {
      flex-wrap: wrap;
    }
  }
}

.cart-plus-minus {
    display: inline-block;
    height: 50px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 80px;
    border: solid 1px rgba(52, 53, 56, 0.7);
    border-radius: 2px;

    @include mobile-width {
      height: 40px;
    }

    input.cart-plus-minus-box {
        background: transparent none repeat scroll 0 0;
        border: none;
        color: #343538;
        float: left;
        font-family: $Geometria;
        font-size: 20px;
        line-height: 25px;
        height: 50px;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 80px;

        @include mobile-width {
          font-size: 18px;
          height: 40px;
        }
    }
    .qtybutton {
        color: $Orange;
        cursor: pointer;
        float: inherit;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        margin: 0;
        position: absolute;
        text-align: center;
        transition: all 0.3s ease 0s;
        width: 24px;

        &.dec {
            height: 50px;
            left: 0;
            padding-top: 13px;
            top: 0;

            @include mobile-width {
              height: 40px;
              padding-top: 7px;
            }
        }
        &.inc {
            height: 50px;
            padding-top: 13px;
            right: 0;
            top: 0;

            @include mobile-width {
              height: 40px;
              padding-top: 7px;
            }
        }
    }
}

.product-details-tab {
    &.mr-30 {
        @media #{$lg-layout} {
            margin-right: 0;
        }
        @media #{$md-layout} {
            margin-right: 0;
        }
        @media #{$xs-layout} {
            margin-right: 0;
        }
    }
}
.product-details-sticky {
    @media #{$lg-layout} {
        &.mr-30 {
           margin-right: 0;
        }
    }
    @media #{$md-layout} {
        &.mr-30 {
           margin-right: 0;
        }
    }
    @media #{$xs-layout} {
        &.mr-30 {
           margin-right: 0;
        }
        margin-bottom: 30px;
    }
}


.product-dec-left {
	width: 68px;
	float: left;
	display: block;
    margin-top: 35px;
    @media #{$xs-layout} {
        margin-top: 17px;
    }
    .product-dec-small {
        margin-bottom: 10px;
        position: relative;
        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            left: 50%;
            color: #fff;
            font-size: 30px;
        }
        img {
            width: 100%;
            cursor: pointer;
            transition: none;
        }
        &.slick-active {
            border: 1px solid transparent;
            &.slick-current {
                border: 1px solid $theme-color;
            }
        }
    }
    & .product-dec-icon {
        color: #343538;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        left: 50%;
        line-height: 1;
        padding: 0 10px;
        position: absolute;
        transform: translateX(-50%);
        z-index: 99;
        &:hover {
            color: $theme-color;
        }
        &.product-dec-prev {
            top: -25px;
            transform: translateX(-50%) rotate(-90deg);
        }
        &.product-dec-next {
            bottom: -14px;
            transform: translateX(-50%) rotate(90deg);
        }
    }
}

.product-dec-right {
	width: calc(100% - 68px);
	padding-left: 30px;
	float: left;
    @media #{$xs-layout} {
        padding-left: 15px;
    }
    .easyzoom-style {
        position: relative;
        a.easyzoom-pop-up {
            position: absolute;
            right: 15px;
            top: 15px;
            width: 30px;
            height: 30px;
            line-height: 28px;
            display:inline-block;
            background-color: $theme-color;
            color: #fff;
            font-size: 12px;
            text-align: center;
            border-radius: 3px;
            z-index: 999;
            &:hover {
                background-color: #333;
            }
        }
        .easyzoom {
            > a {
                transition: none;
                img {
                    width: 100%;
                    transition: none;
                }
            }
        }
        .easyzoom-popup > a img {
            width: 100%;
        }
    }

}

.description-review-wrapper {
    border: 1px solid #e8e8e8;
    padding: 30px 30px 70px;
    &.description-sticky {
        padding: 0;
        border: none;
        margin: 44px 0 58px;
        @media #{$xs-layout} {
            margin: 30px 0 30px;
        }
        .description-review-topbar {
            padding: 0 0 25px;
        }
        .description-review-bottom {
            .ratting-form-wrapper {
                .ratting-form {
                    margin-right: 0;
                }
            }
        }
    }
    @media #{$xs-layout} {
        padding: 30px 15px 50px;
    }
    .description-review-topbar {
        padding: 0 0 24px;
        a {
            color: #343538;
            font-family: $Geometria;
            font-size: 20px;
            line-height: 25px;
            position: relative;
            padding: 0 0 5px;
            margin: 0 32px 0 0;
            &.active {
                font-family: $Geometria-Bold;
            }
            &::after {
                content: "";
                height: 1px;
                right: 0px;
                left: auto;
                width: 0;
                position: absolute;
                transition: width 300ms ease-out;
                background-color: $Orange;
                bottom: 0;
            }
            &.active::after {
                left: 0px;
                right: auto;
                width: calc(100%);
                transition: width 300ms ease-in;
            }
            &:hover::after {
                left: 0px;
                right: auto;
                width: calc(100%);
                transition: width 300ms ease-in;
            }
        }
    }
    .description-review-bottom {
        .product-description-wrapper {
            p {
                color: #8a8a8a;
                font-size: 16px;
                line-height: 20px;
                font-family: $Geometria;
                margin: 0 0 19px;
            }
        }
        .review-wrapper {
            .single-review {
                display: flex;
                border-bottom: 1px solid #e8e8e8;
                margin-bottom: 30px;
                padding-bottom: 35px;
                .review-img {
                    flex: 0 0 70px;
                    img {
                        width: 100%;
                    }
                }
                .review-content {
                    margin-left: 30px;
                    @media #{$xs-layout} {
                        margin-left: 10px;
                    }
                    p {
                        font-family: $Geometria;
                        line-height: 20px;
                        font-size: 20px;
                        margin: 0 0 42px;
                        color: rgba(52, 53, 56, 0.7);
                    }
                    .review-top-wrap {
                        display: flex;
                        justify-content: space-between;
                        .review-name {
                            h4 {
                                font-family: $Geometria;
                                font-size: 16px;
                                line-height: 20px;
                                margin: 0;
                                position: relative;
                                color: rgba(52, 53, 56, 0.7);
                                &:after {
                                    position: absolute;
                                    top: -25px;
                                    left: 0;
                                    background-color: #343538;
                                    width: 60px;
                                    height: 1px;
                                    content: "";
                                }
                            }
                        }
                        .review-rating {
                            line-height: 1;
                            i {
                                color: #f5b223;
                                font-size: 12px;
                            }
                        }
                    }
                }
                &:last-child {
                    border-bottom: none;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }
            }
        }
        .ratting-form-wrapper {
            margin: 40px 0 0;
            h3 {
              margin: 0;
              padding-bottom: 20px;
              font-family: $Geometria-Bold;
              font-size: 20px;
              line-height: 25px;
            }
            .star-box-wrap {
                display: flex;
                margin: 22px 0 20px;
                @media #{$xs-layout} {
                    display: block;
                }
                .single-ratting-star {
                    margin-right: 20px;
                    i {
                        color: #8a8a8a;
                        font-size: 12px;
                        transition: all .3s ease 0s;
                        cursor: pointer;
                    }
                    &:hover i {
                        color: #f5b223;
                    }
                }
            }
            .ratting-form {
                margin-right: 190px;
                @media #{$md-layout} {
                    margin-right: 0px;
                }
                @media #{$xs-layout} {
                    margin-right: 0px;
                }
                form {
                   .rating-form-style {
                        label {
                            color: #343538;
                            font-size: 12px;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            margin: 0 0 8px;
                            span {
                                color: red;
                            }
                        }
                        input {
                            border: 1px solid #e8e8e8;
                            background: transparent;
                            height: 45px;
                            &:focus {
                                border: 1px solid #343538;
                            }
                        }
                        textarea {
                            border: 1px solid #e8e8e8;
                            background: transparent;
                            height: 200px;
                            &:focus {
                                border: 1px solid #343538;
                            }
                        }
                    }
                    .form-submit {
                        input {
                            padding: 10px 40px;
                            text-transform: uppercase;
                            width: auto;
                            color: #fff;
                            background-color: #dcb86c;
                            border: none;
                            &:hover {
                                background-color: #343538;
                            }
                        }
                    }
                }
            }
        }
    }
}


.pro-dec-banner {
    a {
        img {
            width: 100%;
        }
    }
    @media #{$xs-layout} {
        margin-top: 30px;
    }
    &.banner-sticky {
        margin-right: 200px;
        @media #{$md-layout} {
            margin-right: 0px;
        }
        @media #{$xs-layout} {
            margin-right: 0px;
            margin-top: 30px;
        }
    }
}



.product-details-area {
    @media #{$xs-layout} {
        &.pb-65 {
            padding-bottom: 45px;
        }
    }
}
.description-review-area {
    @media #{$xs-layout} {
        &.pb-80 {
            padding-bottom: 50px;
        }
    }
}
.related-product-wrap {
    overflow: hidden;
    @media #{$xs-layout} {
        &.pb-35 {
            padding-bottom: 13px;
        }
    }
}


.single-pro-details-sticky {
    a {
        img {
            width: 100%;
        }
    }
}

.sidebar-active {
    @media #{$xs-layout}{
        & .product-details-content {
            margin-top: 0;
        }
    }
    &.col-md-6 {
        padding-left: 15px;
        padding-right: 15px;
        &.is-affixed {
            padding-left: 0px;
            padding-right: 0px;
            & .inner-wrapper-sticky {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.product-dec-right-2 {
    .easyzoom-style {
        position: relative;
        a.easyzoom-pop-up {
            position: absolute;
            right: 15px;
            top: 15px;
            width: 30px;
            height: 30px;
            line-height: 28px;
            display:inline-block;
            background-color: $theme-color;
            color: #fff;
            font-size: 12px;
            text-align: center;
            border-radius: 3px;
            z-index: 999;
            &:hover {
                background-color: #333;
            }
        }
        .easyzoom {
            > a {
                transition: none;
                img {
                    width: 100%;
                    transition: none;
                }
            }
        }
        .easyzoom-popup > a img {
            width: 100%;
        }
    }

}
.product-dec-left-2 {
    padding: 0px 44px 0;
    margin: 26px 0;
    overflow: hidden;
    @media #{$lg-layout} {
        padding: 0px 20px 0;
    }
    @media #{$md-layout} {
        padding: 0px 10px 0;
    }
    @media #{$xs-layout} {
        margin-top: 17px;
        padding: 0px 10px 0;
    }
    .product-dec-small-2 {
        margin: 0 5px;
        position: relative;
        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            left: 50%;
            color: #fff;
            font-size: 30px;
        }
        img {
            width: 100%;
            cursor: pointer;
            transition: none;
        }
    }
    & .product-dec-icon-2 {
        color: #343538;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        top: 50%;
        line-height: 1;
        position: absolute;
        transform: translateY(-50%) rotate(-180deg);
        z-index: 99;
        left: 28px;
        @media #{$lg-layout} {
            left: 6px;
        }
        @media #{$md-layout} {
            left: 0px;
        }
        @media #{$xs-layout} {
            left: 0px;
        }
        &:hover {
            color: $theme-color;
        }
        &.product-dec-next {
            right: 27px;
            left: auto;
            transform: translateY(-50%) rotate(0deg);
            @media #{$lg-layout} {
                right: 5px;
            }
            @media #{$md-layout} {
                right: 0px;
            }
            @media #{$xs-layout} {
                right: 0px;
            }
        }
    }
}

.related-product-wrap2 {
    @media #{$xs-layout} {
        &.pt-55 {
            padding-top: 35px;
        }
    }
}


.threesixty-area {
    position: relative;
    .threesixty {
        height:auto !important;
    }
    .threesixty_images {
        li {
            &:first-child {
                img {
                    position: static !important;
                    width: 100% !important;
                }
            }
            img {
                transition: all .0s ease 0s;

            }
        }
    }
    .threesixty-control {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        @media #{$xs-layout} {
            top: -15px;
        }
        a {
            font-size: 30px;
            color: #333;
            margin: 0 2px;
        }
    }
}
#threesixty-area .threesixty .threesixty_images img.current-image {
	@media #{$xs-layout} {

    }
}

#threesixty-area {
    @media #{$xs-layout} {
        margin-right: 0;
    }
}

.product-details-content.quickview-content.threesixty-content.pl-30 {
    @media #{$xs-layout} {
        padding-left: 0;
    }
    @media #{$md-layout} {
        padding-left: 0;
    }
}







