.result-search {
  padding: 40px 0;

  .pro-pagination-style{
    margin-top: 60px;
  }

  &__title {
    font-family: 'Geometria', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #343538;
    margin-bottom: 40px;

    span {
      font-weight: bold;
    }
  }

  &__desc {
    margin-left: 60px;

    @include tablet-width {
      margin-left: 40px;
    }

    @include mobile-width {
      margin-left: 0;
    }
  }

  &__item {
    display: flex;
    border: 1px solid #E0E0E0;
    padding: 30px 60px;

    @include tablet-width {
      padding: 20px;
    }

    @include mobile-width {
      flex-wrap: wrap;
      gap: 20px 0;
    }

    a:nth-child(1) {
      @include mobile-width {
        margin: 0 auto;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;

    @include mobile-width {
      align-items: flex-start;
      flex-direction: column-reverse;
      gap: 20px 0;
    }

    .btn--orange {
      padding: 13px 50px;
      font-family: 'Geometria', sans-serif;
      margin-right: 43px;

      @include mobile-width {
        width: 100%;
      }
    }

    .btn__compare {
      display: flex;
      align-items: center;

      .negan-icon-switch {
        margin-bottom: -4px;
        font-size: 20px;
      }

      span {
        font-family: 'Geometria', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        text-transform: lowercase;
        color: #343538;
        opacity: 0.7;
        margin-left: 8px;
      }
    }
  }

  &__img {
    max-width: 180px;

    @include mobile-width {
      max-width: 250px;
    }
  }

  h2 {
    font-family: "Geometria", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 26px;
    color: #000000;
    transition: .2s;

    @include tablet-width {
      font-size: 18px;
      line-height: 22px;
    }

    @include mobile-width {
      font-size: 16px;
    }

    &:hover {
      color: #E25F27;
      transition: .2s;
    }
  }

  &__meta {
    display: grid;
    align-items: center;
    grid-template-columns: auto 23% auto;
    margin-bottom: 26px;

    @include tablet-width {
      grid-template-columns: auto 30% auto;
    }

    @include mobile-width {
      grid-template-columns: 1fr;
    }

    .result-search__rating {
      max-width: 150px;
    }

    .product-order {
      @include mobile-width {
        margin: 5px 0;
      }

      span {
        display: flex;
        gap: 0 5px;
        align-items: center;
        font-family: Geometria, arial, sans-serif;
        font-size: 16px;
        line-height: 25px;
        color: #be0e0e;
      }

      img {
        max-width: 13px;
      }
    }
  }
}

.product-price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  @include mobile-width {
    gap: 5px;
  }

  span:first-child {
    position: relative;
    margin-right: 10px;
    display: inline-block;
    font-family: Geometria, arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: rgba(52, 52, 56, .7);

    @include mobile-width {
      font-size: 18px;
    }

    &:before {
      width: 100%;
      height: 1px;
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      background-color: rgba(52, 53, 56, .7);
    }
  }

  span {
    font-family: Geometria-Bold, arial, sans-serif;
    font-size: 22px;
    line-height: 27px;
    color: rgba(206, 0, 0, .8);

    @include mobile-width {
      font-size: 20px;
    }
  }
}

.wrapper {
  flex-grow: 1;
}
