<main>
  <section class="delivery">
    <div class="delivery-title" style="background-image: url(../assets/img/jpg/bckg-delivery.jpg)">
      <h2>Оплата и доставка</h2>
      <div class="breadcrumbs">
        <ul>
          <li>
            <a href="#">Главная</a>
          </li>
          <li>
            <a href="#">Оплата и доставка</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="delivery__wrapper">
      <h3>
        <img src="assets/img/svg/icon-delivery.svg" width="80" height="65" alt="Варианты доставки">
        Варианты доставки
      </h3>
      <div class="delivery__box">
        <div class="delivery__inner-box-1">
          <strong>Доставка</strong>
          <p>По г. Минску:</p>
          <p>- доставка до подъезда, в пределах МКАД+10км.- <strong>15 руб.</strong></p>
          <p>- при покупке более 30 м.кв. ламината - <strong>бесплатно !</strong></p>
          <p>По Минской обл.:</p>
          <p>- из расчета <strong>50 коп/км</strong> (в одну сторону). Не менее 15 руб.</p>
        </div>
        <div class="delivery__inner-box-2 text-gray">
          <strong>Самовывоз</strong>
          <p>Вы можете забрать заказ самостоятельно с нашего склада по адресу: </p>
          <a href="#"><img src="assets/img/svg/icon-maps.svg" width="26" height="26" alt="Минск, ул.Будславская, 19">Минск, ул.Будславская, 19</a>
          <p>Если вы осуществляете самовывоз, оплату необходимо будет совершить в кассе нашего магазина</p>
        </div>
      </div>
      <h3>
        <img src="assets/img/svg/icon-shop.svg" width="65" height="65" alt="Варианты оплаты">
        Варианты оплаты
      </h3>
      <div class="delivery__box">
        <div class="delivery__inner-box-1 text-gray">
          <strong>Наличные</strong>
          <p>Вы можете оплатить покупку при доставке, рассчитываясь с курьером наличными деньгами</p>
        </div>
        <div class="delivery__inner-box-2 text-gray">
          <strong>Банковская карта</strong>
          <p>-оплата через теминал</p>
          <p>-оплата карой “Покупок”</p>
          <p>-рассрочка по карте “Халва” на 3 месяца</p>
          <div class="delivery__image">
            <img src="assets/img/jpg/image-bgbp.jpg" width="80" height="50" alt="Белгазпромбанк">
            <img src="assets/img/jpg/image-mtb.jpg" width="80" height="50" alt="МТБанк">
          </div>
        </div>
        <div class="delivery__inner-box-1 text-gray">
          <strong>Безналичный расчёт</strong>
          <p>-для физ.лиц (оплата через банк) </p>
          <p>-для юридических лиц (счет с ндс)</p>
        </div>
        <div class="delivery__inner-box-2 text-gray">
          <strong>Система «Расчет» (ЕРИП)</strong>
          <p>Вы можете оплатить товар через систему ”Расчет“ (ЕРИП), в любом удобном для Вас пункте банковского обслуживания</p>
        </div>
      </div>
    </div>
    <div class="delivery__box-info">
      <div class="delivery__box-wrapper">
        <div class="delivery__text">
          <h3>
            <img src="assets/img/png/image-erip.png" width="60" height="40" alt="Оплата через ЕРИП">
            Подробности оплаты через ЕРИП
          </h3>
          <p>- Оплатить товары интернет-магазина Domlaminata.by Вы можете через систему ”Расчет“ (ЕРИП), в любом удобном для Вас пункте банковского обслуживания – интернет-банке, с помощью мобильного банкинга, инфокиоске, кассе банков, банкомате и т.д.</p>
          <p>Совершить оплату можно с использованием наличных денежных средств, электронных денег и банковских платежных карточек в пунктах банковского обслуживания  банков, которые оказывают услуги по приему платежей, а также посредством инструментов дистанционного банковского обслуживания.</p>
          <strong>Пожалуйста уточните все интерисующие Вас вопросы о покупке с менеджерами нашего магазина до совершения оплаты по телефонам:</strong>
          <a href="tel:+375172890339">+375 17 289-03-39</a>
          <a href="tel:+375296971422">+375 29 697-14-22 (А1)</a>
          <a href="tel:+375336971333">+375 33 697-13-33 (МТС)</a>
          <strong>Для проведения платежа необходимо:</strong>
          <ol>
            <li>
              Выбрать последовательно пункты:
              <p>- Система "Расчет" (ЕРИП)</p>
              <p>- Интернет-магазины/сервисы</p>
              <p>- D</p>
              <p>- Domlaminata.by</p>
            </li>
            <li>
              Для оплаты "Товара" ввести Номер заказа.
            </li>
            <li>
              Ввести сумму платежа (если не указана).
            </li>
            <li>
              Проверить корректность информации.
            </li>
            <li>
              Совершить платеж.
            </li>
          </ol>
          <p>Если Вы осуществляете платеж в кассе банка, пожалуйста, сообщите кассиру о необходимости проведения платежа через систему ”Расчет“ (ЕРИП).</p>
          <p> Техническое взаимодействие с системой "Расчет" (ЕРИП) осуществляется с помощью сервиса «Экспресс Платежи»
            <a class="delivery__text-link" href="https://express-pay.by/">https://express-pay.by/</a></p>
        </div>
      </div>
    </div>
  </section>
</main>
