<footer class="footer-area border-top-1 pt-60">
  <div class="footer-top section-padding-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="footer-widget footer-about mb-30">
            <img alt="" src="assets/img/logo/logo.png">
            <p>Curabitur placerat urna augue, id luctus sem imperdiet id. Nunc congue ac libero ut lacinia. In ultrices elementum ipsum, in tempus enim accumsan..</p>
            <div class="footer-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-custom-col">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>Каталог</h3>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="contact.html">Ламинат</a></li>
                <li><a href="#">Плинтус</a></li>
                <li><a href="contact.html">Подложка</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-custom-col">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>Company</h3>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="about-us.html">About us</a></li>
                <li><a href="service.html">Our services</a></li>
                <li><a href="contact.html">Faq’s</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-custom-col">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>Profile</h3>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="my-account.html">My account</a></li>
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="contact.html">Order tracking</a></li>
                <li><a href="contact.html">Help & support</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-8">
          <div class="footer-widget footer-about mb-30">
            <div class="footer-title">
              <h3>Email for newsletter</h3>
            </div>
            <div class="subscribe-style">
              <p>Curabitur placerat urna augue, id luctus sem imperdiet id. Nunc congue ac libero ut lacinia.</p>
              <div id="mc_embed_signup" class="subscribe-form mt-20">
                <form id="mc-embedded-subscribe-form" class="validate subscribe-form-style" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                  <div id="mc_embed_signup_scroll" class="mc-form">
                    <input class="email" type="email" required="" placeholder="Enter your email address..." name="EMAIL" value="">
                    <div class="mc-news" aria-hidden="true">
                      <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                    </div>
                    <div class="clear">
                      <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom section-padding-1 pb-15 pt-20">
    <div class="container-fluid">
      <div class="copyright text-center">
        <p>© 2019 <a href="#">Negan</a>. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
