<footer class="footer-area border-top-1 pt-60">
  <div class="footer-top section-padding-1">
    <div class="container-fluid">
      <div class="row">
        <div class="footer-sizes">
          <div class="footer-widget footer-about mb-30">
            <a href="#">
              <img src="assets/img/svg/logo.svg" width="240" height="75" alt="Дом ламината">
            </a>
            <p>Зарегистрирован в Торговом реестре 12.01.2015 №171975</p>
            <div class="footer-time-work">
              <img src="assets/img/svg/icon-clock.svg" width="21" height="21" alt="Режим работы">
              <p>Режим работы: <br> пн-вс: <span>9-00 до 18-00</span></p>
            </div>
          </div>
        </div>
        <div class="footer-custom-col footer-custom-2">
          <div class="footer-widget mb-30">
            <div class="footer-title">
              <h3>Каталог</h3>
            </div>
            <div class="footer-list">
              <ul>
                <li><a href="contact.html">Ламинат</a></li>
                <li><a href="#">Плинтус</a></li>
                <li><a href="contact.html">Подложка</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-custom-col footer-custom-2">
          <div class="footer-widget mb-30">
            <div class="footer-list text-bold">
              <ul>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Вопрос-ответ</a></li>
                <li><a href="#">Оплата и доставка</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-custom-col footer-blocks">
          <div class="footer-widget mb-30">
            <div class="footer-phone">
              <a href="tel:+375172890339">+375 (17) 289-03-39</a>
              <a href="tel:+375336971333">+375 (33) 697-13-33</a>
              <a href="tel:+375336971333">+375 (33) 697-13-33</a>
            </div>
            <ul class="footer-messengers__list">
              <li>
                <a href="#">
                  <img src="assets/img/svg/icon-viber.svg" width="30" height="30" alt="Viber">
                  <span class="visually-hidden">Вайбер</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/svg/icon-tg.svg" width="30" height="30" alt="Viber">
                  <span class="visually-hidden">Телеграм</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/svg/icon-whatsapp.svg" width="30" height="30" alt="Viber">
                  <span class="visually-hidden">Ватсапп</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <div class="footer-widget footer-about mb-30">
            <div class="footer-info">
              <a href="mailto:domlaminata@tut.by">
                <img src="assets/img/svg/icon-mail.svg" width="30" height="30" alt="E-mail">
                domlaminata@tut.by</a>
              <a href="#">
                <img src="assets/img/svg/icon-maps.svg" width="30" height="30" alt="Адрес">
                Минск, ул.Будславская, 19</a>
            </div>
            <ul class="footer-social__list">
              <li>
                <a href="#">
                  <img src="assets/img/svg/icon-vk.svg" width="30" height="30" alt="Вконтакте">
                  <span class="visually-hidden">Вконтакте</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/svg/icon-inst.svg" width="30" height="30" alt="Инстаграм">
                  <span class="visually-hidden">Инстаграм</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/svg/icon-youtube.svg" width="30" height="30" alt="Ютуб">
                  <span class="visually-hidden">Ютуб</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/svg/icon-ok.svg" width="30" height="30" alt="Одноклассники">
                  <span class="visually-hidden">Одноклассники</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/img/svg/icon-fb.svg" width="30" height="30" alt="Фейсбук">
                  <span class="visually-hidden">Фейсбук</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
