
<header class="header-area header-padding-1 section-padding-1 sticky-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-2 col-lg-2 col-md-6 col-4">
        <div class="logo">
          <a href="index.html">
            <img src="assets/img/svg/logo.svg" width="240" height="75" alt="Дом ламината">
          </a>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8">
        <div class="main-menu main-menu-center">
          <nav>
            <ul>
              <li class="active"><a href="#">Каталог</a>
                <div class="dropdown-menu-style dropdown-width-1">
                  <ul>
                    <li>
                      <ul>
                        <li><a href="#">Ламинат</a></li>
                        <li><a href="#">Плинтус</a></li>
                        <li><a href="#">Подложка</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <li><a href="#">О компании</a></li>
              <li><a href="#">Блог</a></li>
              <li><a href="#">Контакты</a></li>
              <li><a href="#">Вопрос-ответ</a></li>
              <li><a href="#">Оплата и доставка</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-6 col-8">
        <div class="header-right-wrap">
          <div class="same-style header-wishlist">
            <a href="#">
              <i class="negan-icon-switch"></i>
              <span class="count-style">03</span>
            </a>
          </div>
          <div class="same-style cart-wrap">
            <a href="#" class="cart-active">
              <i class="negan-icon-bag"></i>
              <span class="count-style">02</span>
            </a>
          </div>
          <div class="same-style header-search">
            <a class="search-active" href="#"><i class="negan-icon-zoom"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="header-small-mobile sticky-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="logo">
          <a href="index.html">
            <img src="assets/img/svg/logo.svg" width="240" height="75" alt="Дом ламината">
          </a>
        </div>
      </div>
      <div class="col-6">
        <div class="header-right-wrap">
          <div class="same-style header-wishlist">
            <a href="#">
              <i class="negan-icon-switch"></i>
              <span class="count-style">03</span>
            </a>
          </div>
          <div class="same-style cart-wrap">
            <a href="#" class="cart-active">
              <i class="negan-icon-bag"></i>
              <span class="count-style">2</span>
            </a>
          </div>
          <div class="same-style mobile-off-canvas">
            <a class="mobile-aside-button" href="#"><i class="negan-icon-menu-left"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile-off-canvas-active">
  <a class="mobile-aside-close"><i class="negan-icon-simple-close"></i></a>
  <div class="header-mobile-aside-wrap">
    <div class="mobile-search">
      <form class="search-form" action="#">
        <input type="text" placeholder="Search entire store…">
        <button class="button-search"><i class="negan-icon-zoom2"></i></button>
      </form>
    </div>
    <div class="mobile-menu-wrap">
      <div id="mobile-menu" class="slinky-mobile-menu text-left">
        <ul>
          <li>
            <a href="#">Каталог</a>
              <ul>
                <li><a href="index.html">Ламинат</a></li>
                <li><a href="index-2.html">Плинтус</a></li>
                <li><a href="index-3.html">Подложка</a></li>
              </ul>
          </li>
          <li>
            <a href="#">О компании</a>
          </li>
          <li>
            <a href="#">Блог</a>
          </li>
          <li>
            <a href="shop-onsale.html">Контакты</a>
          </li>
          <li>
            <a href="#">Вопрос-ответ</a>
          </li>
          <li>
            <a href="shop.html">Оплата и доставка</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="mobile-social-wrap">
      <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
      <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
      <a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
      <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
      <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
    </div>
  </div>
</div>
<!-- search start -->
<div class="search-content-wrap main-search-active">
  <a class="search-close"><i class="negan-icon-simple-close"></i></a>
  <div class="search-content">
    <p>Start typing and press Enter to search</p>
    <form class="search-form" action="#">
      <input type="text" placeholder="Search entire store…">
      <button class="button-search"><i class="negan-icon-zoom2"></i></button>
    </form>
  </div>
</div>
<!-- mini cart start -->
<div class="sidebar-cart-active">
  <div class="sidebar-cart-all">
    <a class="cart-close" href="#"><i class="negan-icon-simple-close"></i></a>
    <div class="cart-content">
      <h3>Shopping Cart</h3>
      <ul>
        <li class="single-product-cart">
          <div class="cart-img">
            <a href="#"><img src="assets/img/cart/cart-1.jpg" alt=""></a>
          </div>
          <div class="cart-title">
            <h4><a href="#"> Flower Dress </a></h4>
            <span>1 × £54.00</span>
          </div>
          <div class="cart-delete">
            <a href="#">×</a>
          </div>
        </li>
        <li class="single-product-cart">
          <div class="cart-img">
            <a href="#"><img src="assets/img/cart/cart-2.jpg" alt=""></a>
          </div>
          <div class="cart-title">
            <h4><a href="#">Ruffled cotton top</a></h4>
            <span>1 × £54.00</span>
          </div>
          <div class="cart-delete">
            <a href="#">×</a>
          </div>
        </li>
      </ul>
      <div class="cart-total">
        <h4>Subtotal: <span>£ 108.00</span></h4>
      </div>
      <div class="cart-checkout-btn">
        <a class="btn-hover cart-btn-style" href="cart.html">view cart</a>
        <a class="no-mrg btn-hover cart-btn-style" href="checkout.html">checkout</a>
      </div>
    </div>
  </div>
</div>
