
<header class="header-area header-padding-1 section-padding-1 sticky-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-2 col-lg-2 col-md-6 col-4">
        <div class="logo">
          <a href="index.html">
            <img alt="" src="assets/img/svg/logo.svg">
          </a>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 d-none d-lg-block">
        <div class="main-menu main-menu-center">
          <nav>
            <ul>
              <li class="active"><a href="index.html">Каталог</a>
                <div class="dropdown-menu-style dropdown-width-1">
                  <ul>
                    <li>
                      <ul>
                        <li><a href="index.html">Ламинат</a></li>
                        <li><a href="index-2.html">Плинтус</a></li>
                        <li><a href="index-3.html">Подложка</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <li><a href="#">О Компании</a></li>
              <li><a href="shop.html">Блог</a></li>
              <li><a href="shop-onsale.html">Вопрос-ответ</a></li>
              <li><a href="portfolio.html">Оплата и доставка</a></li>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-6 col-8">
        <div class="header-right-wrap">
          <div class="same-style header-wishlist">
            <a href="wishlist.html">
              <i class="negan-icon-favourite-28"></i>
              <span class="count-style">03</span>
            </a>
          </div>
          <div class="same-style cart-wrap">
            <a href="#" class="cart-active">
              <i class="negan-icon-bag"></i>
              <span class="count-style">02</span>
            </a>
          </div>
          <div class="same-style header-search">
            <a class="search-active" href="#"><i class="negan-icon-zoom"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
