
<header class="header-area header-padding-1 section-padding-1 sticky-bar">
  <div class="header-main">
    <div class="logo">
      <a href="index.html">
        <img src="assets/img/svg/logo.svg" width="240" height="75" alt="Дом ламината">
      </a>
    </div>
    <div class="main-menu main-menu-center">
      <nav>
        <ul>
          <li class="active"><a href="#">Каталог</a>
            <div class="dropdown-menu-style dropdown-width-1">
              <ul>
                <li><a href="#">Ламинат</a></li>
                <li><a href="#">Плинтус</a></li>
                <li><a href="#">Подложка</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Блог</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Вопрос-ответ</a></li>
          <li><a href="#">Оплата и доставка</a></li>
        </ul>
      </nav>
    </div>
    <div class="phone-box">
      <a href="tel:375172890339">+375 (17) 289-03-39</a>
      <button type="button" class="show-phone">
        <img src="assets/img/svg/icon-arrow.svg" width="15" height="10" alt="Номер телефона">
      </button>
      <div class="phone-hide">
        <a href="tel:375172890339">+375 (17) 289-03-39</a>
        <a href="tel:375172890339">+375 (17) 289-03-39</a>
        <ul>
          <li>
            <a href="#">
              <img src="assets/img/svg/icon-viber.svg" width="30" height="30" alt="Viber">
              <span class="visually-hidden">Вайбер</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/img/svg/icon-tg.svg" width="30" height="30" alt="Viber">
              <span class="visually-hidden">Телеграм</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/img/svg/icon-whatsapp.svg" width="30" height="30" alt="Viber">
              <span class="visually-hidden">Ватсапп</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-right-wrap">
      <div class="same-style header-wishlist">
        <a href="#">
          <i class="negan-icon-switch"></i>
          <span class="count-style">03</span>
        </a>
      </div>
      <div class="same-style cart-wrap">
        <a href="#" class="cart-active">
          <i class="negan-icon-bag"></i>
          <span class="count-style">02</span>
        </a>
      </div>
      <div class="same-style header-search">
        <a class="search-active" href="#"><i class="negan-icon-zoom"></i></a>
      </div>
    </div>
  </div>
</header>
<div class="header-small-mobile sticky-bar">
  <div class="container-fluid">
    <div class="header-phone">
      <div class="logo">
        <a href="index.html">
          <img src="assets/img/svg/logo.svg" width="240" height="75" alt="Дом ламината">
        </a>
      </div>
      <div class="phone-box">
        <a href="tel:375172890339">+375 (17) 289-03-39</a>
        <button type="button" class="show-phone">
          <img src="assets/img/svg/icon-arrow.svg" width="15" height="10" alt="Номер телефона">
        </button>
        <div class="phone-hide">
          <a href="tel:375172890339">+375 (17) 289-03-39</a>
          <a href="tel:375172890339">+375 (17) 289-03-39</a>
          <ul>
            <li>
              <a href="#">
                <img src="assets/img/svg/icon-viber.svg" width="30" height="30" alt="Viber">
                <span class="visually-hidden">Вайбер</span>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/img/svg/icon-tg.svg" width="30" height="30" alt="Viber">
                <span class="visually-hidden">Телеграм</span>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/img/svg/icon-whatsapp.svg" width="30" height="30" alt="Viber">
                <span class="visually-hidden">Ватсапп</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="header-right-wrap">
        <div class="same-style header-wishlist">
          <a href="#">
            <i class="negan-icon-switch"></i>
            <span class="count-style">03</span>
          </a>
        </div>
        <div class="same-style cart-wrap">
          <a href="#" class="cart-active">
            <i class="negan-icon-bag"></i>
            <span class="count-style">2</span>
          </a>
        </div>
        <div class="same-style mobile-off-canvas">
          <a class="mobile-aside-button" href="#"><i class="negan-icon-menu-left"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile-off-canvas-active">
  <a class="mobile-aside-close"><i class="negan-icon-simple-close"></i></a>
  <div class="header-mobile-aside-wrap">
    <div class="mobile-search">
      <form class="search-form" action="#">
        <input type="text" placeholder="Поиск товаров">
        <button class="button-search"><i class="negan-icon-zoom2"></i></button>
      </form>
    </div>
    <div class="mobile-menu-wrap">
      <div id="mobile-menu" class="slinky-mobile-menu text-left">
        <ul>
          <li>
            <a href="#">Каталог</a>
              <ul>
                <li><a href="#">Ламинат</a></li>
                <li><a href="#">Плинтус</a></li>
                <li><a href="#">Подложка</a></li>
              </ul>
          </li>
          <li>
            <a href="#">О компании</a>
          </li>
          <li>
            <a href="#">Блог</a>
          </li>
          <li>
            <a href="shop-onsale.html">Контакты</a>
          </li>
          <li>
            <a href="#">Вопрос-ответ</a>
          </li>
          <li>
            <a href="shop.html">Оплата и доставка</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-widget mb-30">
      <div class="footer-phone">
        <a href="tel:+375172890339">+375 (17) 289-03-39</a>
        <a href="tel:+375336971333">+375 (33) 697-13-33</a>
        <a href="tel:+375336971333">+375 (33) 697-13-33</a>
      </div>
      <ul class="footer-messengers__list">
        <li>
          <a href="#">
            <img src="assets/img/svg/icon-viber.svg" width="30" height="30" alt="Viber">
            <span class="visually-hidden">Вайбер</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/img/svg/icon-tg.svg" width="30" height="30" alt="Viber">
            <span class="visually-hidden">Телеграм</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/img/svg/icon-whatsapp.svg" width="30" height="30" alt="Viber">
            <span class="visually-hidden">Ватсапп</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- search start -->
<div class="search-content-wrap main-search-active">
  <a class="search-close"><i class="negan-icon-simple-close"></i></a>
  <div class="search-content">
    <p>Введите название товара, который необходимо найти</p>
    <form class="search-form" action="#">
      <input type="text" placeholder="Поиск товаров">
      <button class="button-search"><i class="negan-icon-zoom2"></i></button>
    </form>
  </div>
</div>
<!-- mini cart start -->
<div class="sidebar-cart-active">
  <div class="sidebar-cart-all">
    <a class="cart-close" href="#"><i class="negan-icon-simple-close"></i></a>
    <div class="cart-content">
      <h3>Корзина товаров</h3>
      <ul>
        <li class="single-product-cart">
          <div class="cart-img">
            <a href="#"><img src="assets/img/jpg/product-3.jpg" width="70" height="100" alt="4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ"></a>
          </div>
          <div class="cart-title">
            <h4><a href="#">4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ</a></h4>
            <span>1 м<sup>2</sup> x 13, 50 р.</span>
          </div>
          <div class="cart-delete">
            <a href="#">×</a>
          </div>
        </li>
        <li class="single-product-cart">
          <div class="cart-img">
            <a href="#"><img src="assets/img/jpg/product-3.jpg" width="70" height="100" alt="4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ"></a>
          </div>
          <div class="cart-title">
            <h4><a href="#">4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ</a></h4>
            <span>1 м<sup>2</sup> x 13, 50 р.</span>
          </div>
          <div class="cart-delete">
            <a href="#">×</a>
          </div>
        </li>
        <li class="single-product-cart">
          <div class="cart-img">
            <a href="#"><img src="assets/img/jpg/product-3.jpg" width="70" height="100" alt="4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ"></a>
          </div>
          <div class="cart-title">
            <h4><a href="#">4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ</a></h4>
            <span>1 м<sup>2</sup> x 13, 50 р.</span>
          </div>
          <div class="cart-delete">
            <a href="#">×</a>
          </div>
        </li>
        <li class="single-product-cart">
          <div class="cart-img">
            <a href="#"><img src="assets/img/jpg/product-3.jpg" width="70" height="100" alt="4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ"></a>
          </div>
          <div class="cart-title">
            <h4><a href="#">4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ</a></h4>
            <span>1 м<sup>2</sup> x 13, 50 р.</span>
          </div>
          <div class="cart-delete">
            <a href="#">×</a>
          </div>
        </li>
        <li class="single-product-cart">
          <div class="cart-img">
            <a href="#"><img src="assets/img/jpg/product-3.jpg" width="70" height="100" alt="4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ"></a>
          </div>
          <div class="cart-title">
            <h4><a href="#">4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ</a></h4>
            <span>1 м<sup>2</sup> x 13, 50 р.</span>
          </div>
          <div class="cart-delete">
            <a href="#">×</a>
          </div>
        </li>
        <li class="single-product-cart">
          <div class="cart-img">
            <a href="#"><img src="assets/img/jpg/product-3.jpg" width="70" height="100" alt="4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ"></a>
          </div>
          <div class="cart-title">
            <h4><a href="#">4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ</a></h4>
            <span>1 м<sup>2</sup> x 13, 50 р.</span>
          </div>
          <div class="cart-delete">
            <a href="#">×</a>
          </div>
        </li>
        <li class="single-product-cart">
          <div class="cart-img">
            <a href="#"><img src="assets/img/jpg/product-3.jpg" width="70" height="100" alt="4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ"></a>
          </div>
          <div class="cart-title">
            <h4><a href="#">4766 ДУБ ТЕМНЫЙ ПЕТЕРСОН ПР-ВО KRONOTEX ГЕРМАНИЯ</a></h4>
            <span>1 м<sup>2</sup> x 13, 50 р.</span>
          </div>
          <div class="cart-delete">
            <a href="#">×</a>
          </div>
        </li>
      </ul>
      <div class="cart-total">
        <h4>Итог: <span>27, 00 р.</span></h4>
      </div>
      <div class="cart-checkout-btn">
        <a class="btn--orange" href="#">Оформить заказ</a>
        <a class="btn--incomplete" href="#">Перейти в корзину</a>
      </div>
    </div>
  </div>
</div>
