<main>
  <h1>Main</h1>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <form action="#">
    <input type="text" id="tel" name="user_phone" placeholder="Номер телефона" required>
    <label for="tel">Номер телефона</label>
    <button type="submit">Отправить</button>
  </form>

</main>
