<main>
  <section class="delivery">
    <div class="delivery__wrapper">
      <h3>
        <img src="assets/img/svg/icon-delivery.svg" width="80" height="65" alt="Варианты доставки">
        Варианты доставки
      </h3>
      <div class="delivery__box">
        <div class="delivery__inner-box-1">
          <strong>Доставка</strong>
          <p>По г. Минску:</p>
          <p>- доставка до подъезда, в пределах МКАД+10км.- <strong>15 руб.</strong></p>
          <p>- при покупке более 30 м.кв. ламината - <strong>бесплатно !</strong></p>
          <p>По Минской обл.:</p>
          <p>- из расчета <strong>50 коп/км</strong> (в одну сторону). Не менее 15 руб.</p>
        </div>
        <div class="delivery__inner-box-2">
          <strong>Самовывоз</strong>
          <p>Вы можете забрать заказ самостоятельно с нашего склада по адресу: </p>
          <a href="#"><img src="assets/img/svg/icon-maps.svg" width="26" height="26" alt="Минск, ул.Будславская, 19">Минск, ул.Будславская, 19</a>
          <p>Если вы осуществляете самовывоз, оплату необходимо будет совершить в кассе нашего магазина</p>
        </div>
      </div>
      <h3>
        <img src="assets/img/svg/icon-shop.svg" width="65" height="65" alt="Варианты оплаты">
        Варианты оплаты
      </h3>
      <div class="delivery__box">
        <div class="delivery__inner-box-1">
          <strong>Доставка</strong>
          <p>По г. Минску:</p>
          <p>- доставка до подъезда, в пределах МКАД+10км.- <strong>15 руб.</strong></p>
          <p>- при покупке более 30 м.кв. ламината - <strong>бесплатно !</strong></p>
          <p>По Минской обл.:</p>
          <p>- из расчета <strong>50 коп/км</strong> (в одну сторону). Не менее 15 руб.</p>
        </div>
        <div class="delivery__inner-box-2">
          <strong>Самовывоз</strong>
          <p>Вы можете забрать заказ самостоятельно с нашего склада по адресу: </p>
          <a href="#"><img src="assets/img/svg/icon-maps.svg" width="26" height="26" alt="Минск, ул.Будславская, 19">Минск, ул.Будславская, 19</a>
          <p>Если вы осуществляете самовывоз, оплату необходимо будет совершить в кассе нашего магазина</p>
        </div>
      </div>
    </div>
  </section>
</main>
